@import './normalize.scss';
@import './utils/placeholder.scss';
@import './utils/mixin.scss';
@import './utils/variable.scss';
@import './components/html.scss';
@import './components/body.scss';
@import './components/container.scss';
@import './components/header.scss';

@import './components/modal.scss';

@import './img.scss';
@import './components/footer.scss';
