<div class="box-modal">

    <div class="box-img" >
     <img id="modal-img" class="modal-img" 
        src="https://image.tmdb.org/t/p/w500{{poster_path}}"
        onError=""
        data-source="https://image.tmdb.org/t/p/w500{{backdrop_path}}"
        onerror="this.onerror=null;this.src='https://ik.imagekit.io/s2fpg15d4rx/depositphotos_144011369-stock-photo-popcorn-and-movie-clapper-board_G9Nbh-ef0_9M.jpg';"
        alt="{{original_title}}" />

    </div>
    <div>

         <div class="box-btn" id="modal-box-bnt">
                <button class="btn-modal" id="watch-add">add to Watched</button>
                <button class="btn-modal" id="queue-add">add to queue</button>
        </div>

    </div>



   
</div>




            

             


    



 
