<div class="box-modal">

    <div class="box-img" >
     <img id="modal-img" class="modal-img" 
        src="https://image.tmdb.org/t/p/w500{{poster_path}}"
        data-source="https://image.tmdb.org/t/p/w500{{backdrop_path}}"
        alt="{{original_title}}" />

    </div>
    <div>

         <div class="box-btn" id="modal-box-bnt">
                <button class="btn-modal" id="watch-add">add to Watched</button>
                <button class="btn-modal" id="queue-add">add to queue</button>
        </div>

    </div>



   
</div>




            

             


    



 
