.container {
  // width: 1024px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(tablet-portrait) {
    width: 320px;
  }

  @include for-size(tablet-landscape) {
    width: 768px;
    padding-left: 76px;
    padding-right: 76px;
  }

  @include for-size(desktop) {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}
