ul {
  list-style: none;
}

.btn-modal {
  margin: 0;
  background-color: inherit;
  color: $black;
  min-width: 136px;
  padding: 20px 10px;
  border: 1px solid $black;
  border-radius: 5px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.33px;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    background-color: $accent;
    border: 1px solid $accent;
    outline: inherit;
    color: $white;
  }

  &:first-child {
    @include for-size(desktop) {
      margin-right: 15px;
    }
  }
}

.modal__content-title {
  margin: 30px 0 20px;
  text-transform: uppercase;
  color: $black;
  font-size: 20px;
  line-height: 1.17;

  @include for-size(tablet-landscape) {
    margin-top: 0;
    font-size: 30px;
  }

  &.info {
    margin: 0;
    font-size: 12px;
    line-height: 1.33;
  }

  &.secondary {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.33;
  }
}

.modal__content-info {
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 12px;
  line-height: 1.33;

  &.name {
    color: $light-grey;
    margin-right: 40px;

    @include for-size(tablet-landscape) {
      margin-right: 83px;
    }
  }

  &.name,
  &.value {
    display: block;

    & > li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.modal__content {
  &-decsription {
    margin: 0;
    font-size: 12px;
    line-height: 1.67;
  }

  &-button {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @include for-size(tablet-landscape) {
      margin-top: 20px;
    }
    @include for-size(desktop) {
      justify-content: start;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  z-index: 2;

  overflow-y: scroll;

  @include for-size(tablet-landscape-1) {
    padding-top: 100px;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__poster,
  &__content {
    width: 100%;

    @include for-size(tablet-landscape) {
      width: calc((100% - 30px) / 2);
    }
  }

  &__poster {
    @include for-size(tablet-landscape) {
      margin-right: 30px;
    }
  }
}

.box-modal {
  background-color: $white;
  position: absolute;
  top: 80%;
  left: 50%;
  padding: 20px;

  width: 320px;
  height: auto;

  max-width: 100%;

  transform: translate(-50%, -50%);

  z-index: 2000;

  @include for-size(tablet-landscape) {
    display: flex;
    top: 50%;
    max-width: 90%;
    width: 768px;
    padding: 35px;
  }

  @include for-size(desktop) {
    width: 1024px;
    padding: 70px;
  }
}

.modal-img {
  height: auto;
  display: block;
  background: url(../images/film.jpg);
  background-size: contain;
  width: 100%;
  border-radius: 10px;
}

.info-film {
  display: flex;
}

.animation-open {
  -webkit-animation-name: zoom-in;
     -webkit-animation-duration: 0.6s;
     animation-name: zoom-in;
     animation-duration: 0.6s;
 }
